.Taras{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


width: 500px;

display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-left: 485px;
margin-top: 200px;
color:slateblue;



}

ul{
    text-decoration: none;
    list-style: none;

    margin-top: 200px;
}


.wer{
    background-color: palegreen;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -180px;
   
}